#word-definition {
    margin-bottom: 50px;
}

.data-header {
    display: flex;
    justify-content: center;
}

#definition-example {
    max-width: 500px;
}

#word-data-center {
    display: flex;
    justify-content: center;
}

#word-data-border {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.word-data {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    width: 300px;
}

.long-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media only screen and (max-width: 1600px) {
    #word-data-border {
        flex-direction: column;
    }
}