#word-definition {
    margin-bottom: 50px;
}

.data-header {
    display: flex;
    justify-content: center;
}

#definition-example {
    max-width: 500px;
}

#word-data-border {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.word-data {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 400px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
    border-top: 2px lightgray solid;
    border-radius: 10px;
    padding-top: 25px;
}