#dictionary-input-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

#input-border {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#dictionary-input {
    border: none;
    border-bottom: 2px #5d6d72 solid;
    background-color:  	#101c25;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    text-align: center;
}

textarea:focus, input:focus{
    outline: none;
}